.characters{
    background: url("../../../assets/movies\ background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.loading{
    color: red;
    margin-top: 250px;
}

@media (max-width:649px){
    .characters{
        background-color: black;
        background-image: none;
    }
}