.cards{
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 95px;
    width: 100%;
    height: 100%;

}