.cards{
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 95px;
    column-gap: 15px;
    row-gap: 15px;
    height: 100%;

}

.container{
    display: flex ;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1200px){
    .cards{
        grid-template-columns: 33% 33% 33%;
        column-gap: 15px;
        row-gap: 15px;
        height: 100%;
    
    }
}
@media (max-width:649px){
    .cards{
        display: flex;
        flex-direction: column;
        background-color: black;
        background-size: 100%;
        height: 100%;
    }
}
